<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Notice</title>
</head>

<body>
    <form action='/deleteNotice' method='POST'>
        <h1>Show Notice</h1>
        <fieldset>
            <% seq = n_seq %>
            글 번호 : <%= seq %><br>
            제목 : <%= title %><br>
            내용 : <%= content %>
        </fieldset><br>
        <input type="hidden" name="n_seq" value="<%= seq %>">
        <input type="submit" value="글 삭제">
        <input type="button" value="글 수정" onclick="location.href = '/updateNoticeSelect/<%= seq %>' "><br>
        <a href="/">메인</a>
    </form>
</body>

</html>